<div style="background-color: blue;color: white;display: inline-flex;width: 100%;"> 
    <!-- <input matInput placeholder="Ex. Pizza"> -->
    <div style="margin-left: 15px;margin-top:5px">
        <button mat-icon-button routerLink="/home">
        <i class="fa fa-star" style="color: #fcba12;font-size: 30px;"></i></button>
    </div>
    <div style="text-align: end;width: 100%;">
        <i class="fa fa-search" style="font-size: 30px;margin-top: 10px;"></i>
        <button mat-icon-button routerLink="/cart">
            <i class="fa fa-shopping-cart" style="font-size: 30px;margin-bottom: 8px;"></i></button>    
    </div>
</div>

