<app-header></app-header>
<div class="Tab">
    <div class="filter">
        <h3 class="heading">Filters</h3>
        <div class="slider">
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            <p class="price">Price</p>
            <button mat-raised-button class="button" (click)="filter()">Apply</button>    
        </div>
    </div>
    
    <div class="right-side">
        <div class="sort" style="align-items: center;">
            <h3>Sort By</h3>
            <span *ngIf="a==0"><button mat-button (click)="sort('high')">Price -- High Low</button></span>
            <span *ngIf="a==1"><button mat-button (click)="sort('high')" class="active">Price -- High Low<hr class="underline" color="blue"></button></span>
            <span *ngIf="b==0"><button mat-button (click)="sort('low')">Price -- Low High</button></span>
            <span *ngIf="b==1"><button mat-button (click)="sort('low')" class="active">Price -- Low High<hr class="underline" color="blue"></button></span>
            <span *ngIf="c==0"><button mat-button (click)="sort('discount')">Discount</button></span>
            <span *ngIf="c==1"><button mat-button (click)="sort('discount')" class="active">Discount<hr class="underline" color="blue"></button></span>
        </div>
        <app-shopping-list></app-shopping-list>
    </div>
</div>

<div class="Mob">   
    <div class="buttons">
        <button mat-raised-button (click)="openFilterDialog()" class="size">Filters</button>
        <button mat-raised-button (click)="openSortDialog()" class="size">Sort</button>
    </div>
    <app-shopping-list></app-shopping-list>
</div>
