<div style="text-align:center;">
<div *ngFor="let list of sortedList;" style="display: inline-flex;margin-left: 20px;">
  <mat-card class="example-card" style="margin-top: 20px;">
    <img mat-card-image src={{list.itemUrl}} style="height: 200px;width: 200px;">
    <!-- <div *ngIf="value(list)"></div> -->
    <mat-card-content>
      <p>{{list.itemName}}</p>
      <div style="text-align-last: justify;">{{list.itemSellingPrice}}Rs.
        <s>{{list.itemOriginalPrice}}</s> 
          {{list.itemDiscount}}%off</div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button (click)="addtocart(list)" style="background-color: #fcba12;border-radius: 25px;">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
