<div class="list-box">
  <div *ngFor="let list of sortedList;" class="lists">
    <div class="item">
      <img src={{list.itemUrl}}  class="img-size">
      <p class="item-name">{{list.itemName}}</p>
      <div class="price-line">
        <span class="selling-price">₹{{list.itemSellingPrice}}</span>
        <s class="original-price">{{list.itemOriginalPrice}}</s> 
        <span class="discount">{{list.itemDiscount}}%off</span>
      </div>
      <div class="button-box">
        <button mat-raised-button (click)="addtocart(list)" class="button">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
